<p id="notice"><%= notice %></p>

<p>
  <strong>Twitter name:</strong>
  <%= @profile.twitter_name %>
</p>

<p>
  <strong>Github name:</strong>
  <%= @profile.github_name %>
</p>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
